{% extends 'base.html.twig' %}

{% block title %}Edit Member{% endblock %}
{% block main_title %}{{ member.fullName }}{% endblock %}

{% block toolbar %}
    <div class="flex gap-3">

        <a href="{{ path('app_member_index') }}" class="rounded-md ring-1 text-indigo-500 ring-indigo-500 px-2.5 py-1.5 text-sm font-semibold shadow-sm hover:bg-slate-100 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 ">
            Back to list
        </a>
        {{ include('member/_delete_form.html.twig') }}
    </div>
{% endblock %}


{% block body %}
    {{ include('member/_form.html.twig', {'button_label': 'Update'}) }}
    <div class="flex gap-5 justify-end">


        
    </div>
{% endblock %}
